.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  height: 8vh;
  min-height: 60px;
}

.body {
  height: calc(100% - 16vh);
}

.footer {
  height: 8vh;
  min-height: 60px;
}